<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Cleartrip Suite" annotations="JDK" parallel="none">
  <test  name="signIn">
    <classes>
    <class name="com.cts.test.SignInTest"/>
      <!-- 
      class name="com.cts.test.Validlogin"
      -->
      </classes>
     </test>
   <!--   <test name="Search">
     <classes>
     <class name="com.cts.test.SearchFlightTest"/>
     </classes>
     </test> -->
     

  </suite> <!-- Suite -->